body {
  min-height: 100vh !important;
  background-image: url('https://images2.alphacoders.com/896/thumb-1920-896278.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}